#section-5 {
  background: black;
  padding: 0 3rem;
  font-size: 10vw;
  font-weight: 440;
}

#five-1 {
  opacity: 0;
  flex-flow: row;
  color: snow;
  padding-left: 10rem;
  justify-content: flex-start;
  gap: 5rem;
}

#five-2 {
  flex-flow: row nowrap;
  color: snow;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}

#five-22 {
  opacity: 0;
}

#five-3 {
  opacity: 0;
  flex-flow: row nowrap;
  color: snow;
  padding-left: 10rem;
  justify-content: center;
  gap: 5rem;
}

#five-4 {
  opacity: 0;
  flex-flow: row nowrap;
  color: snow;
  justify-content: space-around;
  align-items: center;
}


#card-head1 {
  opacity: 0;
  color: snow;
  font-size: 4vmin;
  font-weight: 440;
  width: 28ch;
}

#card-head2 {
  display: inline-flex;
  align-items: center;
  font-size: 3vmin;
  font-weight: 440;
  gap: 0 2.5rem;
}

